.storage{
    position: absolute;
    left: 150px;
    top: 150px;
}
.storageheader{
    font-size: 20px;
    color: #F2F3F5;
    margin-bottom: 20px;
    margin-left: 25px;
}
.MuiInputBase-root{
    background-color: #38343C !important;
}
.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    background-color: #38343C !important;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline{
    color: #38343C;
}