.calendarcontainer {
  position: absolute;
  left: 100px;
  top: 150px;
  padding: 20px 250px 100px 30px;
  border-radius: 25px;
  /*  padding-top: 10em;
    padding-bottom: 10em;
    padding-right: 20em;
    padding-left: 20em;
  */
}
.conttainer {
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 9px;
  padding-left: 10px;
}

.calendarinfo {
  color: var(--luminary-lightFontColor);
  position: absolute;
  text-wrap: balance;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 10px;
  left: 380px;
  top: 20px;
  padding: 20px 50px 10px 30px;
  min-height: 250px;
  max-height: 390px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.calendarinfo::-webkit-scrollbar {
  display: none;
}

.MuiPickersCalendarHeader-label {
  color: var(--luminary-pink) !important;
}

.MuiTypography-body2 {
  color: var(--luminary-pink) !important;
}

.MuiPickersCalendarHeader-switchViewIcon {
  color: var(--luminary-blue) !important;
}

.MuiPickersArrowSwitcher-leftArrowIcon {
  color: var(--luminary-blue) !important;
}

.MuiPickersArrowSwitcher-rightArrowIcon {
  color: var(--luminary-blue) !important;
}

.MuiDayCalendar-weekDayLabel {
  color: var(--luminary-yellow) !important;
}

.MuiPickersDay-today {
  border: 2px solid var(--luminary-pink) !important;
}

.MuiPickersDay-root.Mui-selected {
  background-color: var(--luminary-pink) !important;
}

.MuiPickersYear-root {
  color: #f2f3f5 !important;
}

.MuiPickersYear-yearButton.Mui-selected {
  background-color: var(--luminary-pink) !important;
}

.MuiPickersMonth-root {
  color: #f2f3f5 !important;
}

.MuiPickersMonth-monthButton.Mui-selected {
  background-color: var(--luminary-pink) !important;
}
.eventinfo {
  background-color: #302c34;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.MuiBadge-standard {
  background-color: var(--luminary-blue) !important;
}
