.calendarcontainer{
    background-color: #38343C !important;
    position: absolute;
    left: 100px;
    top: 150px;
    padding: 20px 250px 100px 30px;
    border-radius: 25px;
  /*  padding-top: 10em;
    padding-bottom: 10em;
    padding-right: 20em;
    padding-left: 20em;
  */
  }
  .conttainer{
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 9px;
    padding-left: 10px;
  }

  .calendarinfo {
    color:#F2F3F5;
    position: absolute;
    text-wrap: balance;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
    left: 380px;
    top: 20px;
    padding: 20px 50px 10px 30px;
  }

  .MuiPickersCalendarHeader-label{
    color: #FF93FF !important;
  }

  .MuiTypography-body2{
    color: #FF93FF !important;
  }

  .MuiPickersCalendarHeader-switchViewIcon{
    color: #4CC6FF !important;
  }

  .MuiPickersArrowSwitcher-leftArrowIcon{
    color: #4CC6FF !important;
  }

  .MuiPickersArrowSwitcher-rightArrowIcon{
    color: #4CC6FF !important;
  }

  .MuiDayCalendar-weekDayLabel{
    color: #FFC227 !important;
  }

  .MuiPickersDay-today {
    border: 2px solid #FF93FF !important;
  }

  .MuiPickersDay-root.Mui-selected {
    background-color: #FF93FF !important;
  }

  .MuiPickersYear-root {
    color: #F2F3F5 !important;
  }

  .MuiPickersYear-yearButton.Mui-selected {
    background-color: #FF93FF !important;
  }

  .MuiPickersMonth-root {
    color: #F2F3F5 !important;
  }

  .MuiPickersMonth-monthButton.Mui-selected {
    background-color: #FF93FF !important;
  }