@import url('Variables.css');
.gridcontainer {
  color: var(--luminary-lightFontColor);
}
.MuiInputLabel-root {
  color: var(--luminary-lightFontColor) !important;
}

.MuiInputBase-root {
  color: var(--luminary-lightFontColor) !important;
}
