.MuiAppBar-root {
  background-color: #38343c !important;
}
.MuiButtonBase-root {
  color: #f2f3f5 !important;
}

.divideline {
  background-color: #ff93ff;
  width: 1px;
  height: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.Logobutton {
  width: 170px;
  height: 35px;
}

/*
Hamburgermenu background color, and the list width if needed.

.MuiDrawer-paper{
    background-color: #38343C !important;
}

.hammenu{
    width: 20em;
}*/
