@import url("Variables.css");
.MuiAppBar-root {
  background-color: var(--luminary-dark) !important;
}
.MuiButtonBase-root {
  color: var(--luminary-lightFontColor) !important;
}

.divideline {
  background-color: var(--luminary-pink);
  width: 1px;
  height: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.Logobutton {
  width: 170px;
  height: 35px;
}

/*
Hamburgermenu background color, and the list width if needed.

.MuiDrawer-paper{
    background-color: #38343C !important;
}

.hammenu{
    width: 20em;
}*/
