:root {
  --luminary-blue: #4cc6ff;
  --luminary-pink: #ff93ff;
  --luminary-yellow: #ffc227;
  --luminary-purple: #7a29ce;
  --luminary-darkest: #201c24;
  --luminary-darker: #302c34;
  --luminary-dark: #38343c;
  --luminary-darkerFontColor: #949ba4;
  --luminary-lightFontColor: #f2f3f5;
}
