:root{
    --luminary-blue: #4CC6FF;
    --luminary-pink: #FF93FF;
    --luminary-yellow: #FFC227;
    --luminary-purple: #7A29CE;
    --luminary-darkest: #201C24;
    --luminary-darker: #302C34;
    --luminary-dark: #38343C;
    --luminary-darkerFontColor: #949BA4;
    --luminary-lightFontColor: #F2F3F5;
}